@model UserManagement.Web.Models.Users.Logs
<h3>Log details</h3>
<div class="container">
    <p>Id : @Model.UserId</p>
    <p>Type: @Model.Type</p>
    <p>Message: @Model.ShowMessage</p>
    <p>Details: @Model.Details</p>
</div>
